<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pngguru.com-id-lhcst_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,502}</string>
                <key>spriteSourceSize</key>
                <string>{366,502}</string>
                <key>textureRect</key>
                <string>{{1,1},{366,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pngguru.com-id-lhcst_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,415}</string>
                <key>spriteSourceSize</key>
                <string>{195,415}</string>
                <key>textureRect</key>
                <string>{{369,1},{195,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_1.png</string>
            <key>size</key>
            <string>{565,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9c41a65a3e3d89f2749eed683fd9286:0f432f4258a2d62f1a85edcdb53853e8:6927fc436364e5c4c8fb68f65e6efd1e$</string>
            <key>textureFileName</key>
            <string>skill_1.png</string>
        </dict>
    </dict>
</plist>
