<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>karep1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,111}</string>
                <key>spriteSourceSize</key>
                <string>{90,111}</string>
                <key>textureRect</key>
                <string>{{548,115},{90,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,112}</string>
                <key>spriteSourceSize</key>
                <string>{66,112}</string>
                <key>textureRect</key>
                <string>{{452,460},{66,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,111}</string>
                <key>spriteSourceSize</key>
                <string>{74,111}</string>
                <key>textureRect</key>
                <string>{{390,574},{74,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,111}</string>
                <key>spriteSourceSize</key>
                <string>{92,111}</string>
                <key>textureRect</key>
                <string>{{530,344},{92,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,111}</string>
                <key>spriteSourceSize</key>
                <string>{114,111}</string>
                <key>textureRect</key>
                <string>{{62,245},{114,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,112}</string>
                <key>spriteSourceSize</key>
                <string>{108,112}</string>
                <key>textureRect</key>
                <string>{{378,116},{108,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,111}</string>
                <key>spriteSourceSize</key>
                <string>{114,111}</string>
                <key>textureRect</key>
                <string>{{62,245},{114,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,111}</string>
                <key>spriteSourceSize</key>
                <string>{92,111}</string>
                <key>textureRect</key>
                <string>{{530,344},{92,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,111}</string>
                <key>spriteSourceSize</key>
                <string>{74,111}</string>
                <key>textureRect</key>
                <string>{{390,574},{74,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,112}</string>
                <key>spriteSourceSize</key>
                <string>{66,112}</string>
                <key>textureRect</key>
                <string>{{452,460},{66,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,116}</string>
                <key>spriteSourceSize</key>
                <string>{69,116}</string>
                <key>textureRect</key>
                <string>{{1,489},{69,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{789,346},{100,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,99}</string>
                <key>spriteSourceSize</key>
                <string>{97,99}</string>
                <key>textureRect</key>
                <string>{{790,448},{97,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,99}</string>
                <key>spriteSourceSize</key>
                <string>{85,99}</string>
                <key>textureRect</key>
                <string>{{893,346},{85,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,105}</string>
                <key>spriteSourceSize</key>
                <string>{90,105}</string>
                <key>textureRect</key>
                <string>{{765,557},{90,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,113}</string>
                <key>spriteSourceSize</key>
                <string>{61,113}</string>
                <key>textureRect</key>
                <string>{{315,347},{61,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{74,86}</string>
                <key>textureRect</key>
                <string>{{503,574},{74,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,90}</string>
                <key>spriteSourceSize</key>
                <string>{68,90}</string>
                <key>textureRect</key>
                <string>{{889,448},{68,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,52}</string>
                <key>spriteSourceSize</key>
                <string>{112,52}</string>
                <key>textureRect</key>
                <string>{{513,1},{112,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,58}</string>
                <key>textureRect</key>
                <string>{{163,591},{112,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,58}</string>
                <key>textureRect</key>
                <string>{{470,344},{112,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,106}</string>
                <key>spriteSourceSize</key>
                <string>{80,106}</string>
                <key>textureRect</key>
                <string>{{873,112},{80,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,106}</string>
                <key>spriteSourceSize</key>
                <string>{80,106}</string>
                <key>textureRect</key>
                <string>{{873,194},{80,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,113}</string>
                <key>spriteSourceSize</key>
                <string>{61,113}</string>
                <key>textureRect</key>
                <string>{{338,231},{61,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,86}</string>
                <key>spriteSourceSize</key>
                <string>{61,86}</string>
                <key>textureRect</key>
                <string>{{702,563},{61,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,90}</string>
                <key>spriteSourceSize</key>
                <string>{65,90}</string>
                <key>textureRect</key>
                <string>{{889,518},{65,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,52}</string>
                <key>spriteSourceSize</key>
                <string>{112,52}</string>
                <key>textureRect</key>
                <string>{{520,458},{112,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,58}</string>
                <key>textureRect</key>
                <string>{{471,230},{112,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,58}</string>
                <key>spriteSourceSize</key>
                <string>{112,58}</string>
                <key>textureRect</key>
                <string>{{488,115},{112,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,106}</string>
                <key>spriteSourceSize</key>
                <string>{68,106}</string>
                <key>textureRect</key>
                <string>{{720,449},{68,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,106}</string>
                <key>spriteSourceSize</key>
                <string>{68,106}</string>
                <key>textureRect</key>
                <string>{{872,276},{68,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,114}</string>
                <key>spriteSourceSize</key>
                <string>{66,114}</string>
                <key>textureRect</key>
                <string>{{67,1},{66,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,114}</string>
                <key>spriteSourceSize</key>
                <string>{61,114}</string>
                <key>textureRect</key>
                <string>{{135,1},{61,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,120}</string>
                <key>spriteSourceSize</key>
                <string>{59,120}</string>
                <key>textureRect</key>
                <string>{{1,245},{59,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1,367},{58,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,114}</string>
                <key>spriteSourceSize</key>
                <string>{58,114}</string>
                <key>textureRect</key>
                <string>{{156,117},{58,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,114}</string>
                <key>spriteSourceSize</key>
                <string>{58,114}</string>
                <key>textureRect</key>
                <string>{{198,1},{58,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,120}</string>
                <key>spriteSourceSize</key>
                <string>{62,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{62,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,109}</string>
                <key>spriteSourceSize</key>
                <string>{69,109}</string>
                <key>textureRect</key>
                <string>{{819,1},{69,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,111}</string>
                <key>spriteSourceSize</key>
                <string>{68,111}</string>
                <key>textureRect</key>
                <string>{{624,228},{68,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,113}</string>
                <key>spriteSourceSize</key>
                <string>{66,113}</string>
                <key>textureRect</key>
                <string>{{246,463},{66,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,112}</string>
                <key>spriteSourceSize</key>
                <string>{68,112}</string>
                <key>textureRect</key>
                <string>{{401,230},{68,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,109}</string>
                <key>spriteSourceSize</key>
                <string>{69,109}</string>
                <key>textureRect</key>
                <string>{{890,1},{69,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,111}</string>
                <key>spriteSourceSize</key>
                <string>{68,111}</string>
                <key>textureRect</key>
                <string>{{640,114},{68,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,113}</string>
                <key>spriteSourceSize</key>
                <string>{66,113}</string>
                <key>textureRect</key>
                <string>{{314,463},{66,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,112}</string>
                <key>spriteSourceSize</key>
                <string>{68,112}</string>
                <key>textureRect</key>
                <string>{{382,460},{68,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,110}</string>
                <key>textureRect</key>
                <string>{{654,1},{90,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,112}</string>
                <key>spriteSourceSize</key>
                <string>{91,112}</string>
                <key>textureRect</key>
                <string>{{420,1},{91,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,113}</string>
                <key>spriteSourceSize</key>
                <string>{88,113}</string>
                <key>textureRect</key>
                <string>{{175,233},{88,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,114}</string>
                <key>spriteSourceSize</key>
                <string>{89,114}</string>
                <key>textureRect</key>
                <string>{{65,123},{89,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,112}</string>
                <key>spriteSourceSize</key>
                <string>{90,112}</string>
                <key>textureRect</key>
                <string>{{378,346},{90,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,109}</string>
                <key>spriteSourceSize</key>
                <string>{88,109}</string>
                <key>textureRect</key>
                <string>{{694,227},{88,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,113}</string>
                <key>spriteSourceSize</key>
                <string>{89,113}</string>
                <key>textureRect</key>
                <string>{{72,484},{89,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{61,367},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,113}</string>
                <key>spriteSourceSize</key>
                <string>{71,113}</string>
                <key>textureRect</key>
                <string>{{242,348},{71,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,109}</string>
                <key>spriteSourceSize</key>
                <string>{71,109}</string>
                <key>textureRect</key>
                <string>{{746,1},{71,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,109}</string>
                <key>spriteSourceSize</key>
                <string>{71,109}</string>
                <key>textureRect</key>
                <string>{{647,452},{71,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,111}</string>
                <key>spriteSourceSize</key>
                <string>{71,111}</string>
                <key>textureRect</key>
                <string>{{277,578},{71,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,113}</string>
                <key>spriteSourceSize</key>
                <string>{71,113}</string>
                <key>textureRect</key>
                <string>{{265,232},{71,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,113}</string>
                <key>spriteSourceSize</key>
                <string>{71,113}</string>
                <key>textureRect</key>
                <string>{{305,116},{71,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,109}</string>
                <key>spriteSourceSize</key>
                <string>{71,109}</string>
                <key>textureRect</key>
                <string>{{716,338},{71,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,109}</string>
                <key>spriteSourceSize</key>
                <string>{71,109}</string>
                <key>textureRect</key>
                <string>{{784,224},{71,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,111}</string>
                <key>spriteSourceSize</key>
                <string>{71,111}</string>
                <key>textureRect</key>
                <string>{{574,457},{71,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,113}</string>
                <key>spriteSourceSize</key>
                <string>{71,113}</string>
                <key>textureRect</key>
                <string>{{347,1},{71,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,113}</string>
                <key>spriteSourceSize</key>
                <string>{81,113}</string>
                <key>textureRect</key>
                <string>{{163,476},{81,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,109}</string>
                <key>spriteSourceSize</key>
                <string>{71,109}</string>
                <key>textureRect</key>
                <string>{{800,112},{71,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,109}</string>
                <key>spriteSourceSize</key>
                <string>{79,109}</string>
                <key>textureRect</key>
                <string>{{591,570},{79,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>karep1_76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,111}</string>
                <key>textureRect</key>
                <string>{{567,1},{85,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,113}</string>
                <key>spriteSourceSize</key>
                <string>{89,113}</string>
                <key>textureRect</key>
                <string>{{151,361},{89,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,113}</string>
                <key>spriteSourceSize</key>
                <string>{87,113}</string>
                <key>textureRect</key>
                <string>{{216,117},{87,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,109}</string>
                <key>spriteSourceSize</key>
                <string>{90,109}</string>
                <key>textureRect</key>
                <string>{{624,341},{90,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,109}</string>
                <key>spriteSourceSize</key>
                <string>{88,109}</string>
                <key>textureRect</key>
                <string>{{710,113},{88,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,111}</string>
                <key>spriteSourceSize</key>
                <string>{91,111}</string>
                <key>textureRect</key>
                <string>{{531,229},{91,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>karep1_82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,113}</string>
                <key>spriteSourceSize</key>
                <string>{87,113}</string>
                <key>textureRect</key>
                <string>{{258,1},{87,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Legend.png</string>
            <key>size</key>
            <string>{980,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f07897ffbb1adfccf8a56ff7a4ebb08:0c5707654205cc8fe8d5d56ad842aa8d:217f0637788b7b2f13664945f25e5186$</string>
            <key>textureFileName</key>
            <string>Legend.png</string>
        </dict>
    </dict>
</plist>
