<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk_70000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{114,130}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{1,137},{114,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_70001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{112,138}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{1,541},{112,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_70003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{112,132}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{1,681},{112,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_70004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{1,269},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_70005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{114,134}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_70006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{112,140}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{1,399},{112,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_70007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{110,138}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{1,947},{110,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_70008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{110,132}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{1,1087},{110,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_70009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{112,130}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{1,815},{112,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menuHero1.png</string>
            <key>size</key>
            <string>{116,1220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89148bc9de150ae2f2495054ffde4f0f:8c7dc4e0ab2d4938ccd2ffbd0cde4bb9:22a963eb5dac02c3e613dce9ba40b8c2$</string>
            <key>textureFileName</key>
            <string>menuHero1.png</string>
        </dict>
    </dict>
</plist>
